{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="row">
    <div class="col-md-6">
        <h2>Google</h2>
        <p>google</p>
        <p><a class="btn btn-default" href="https://www.google.com" target="_blank">Google</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Kaggle</h2>
        <p>kaggle</p>
        <p><a class="btn btn-default" href="https://www.kaggle.com" target="_blank">Kaggle</a></p>
    </div>
</div>


{% endblock %}
